* {
  box-sizing: border-box;
}
@font-face {
  font-family: my-norse-font;
  src: url(./../../Downloads/Norse-Bold.otf);
}
h3 {
  font-family: my-norse-font, sans-serif;
  align-self: center;
  font-weight: bolder;
  color: white;
  font-size: 2rem;
}
ul,
li {
  list-style: none;
}
label,
input {
  font-size: 0.75rem;
  box-sizing: border-box;
  width: 150px;
  margin: 0;
  padding: 0;
}
header,
footer {
  height: 100px;
  background-color: black;
}
main {
  align-items: center;
}
main,
.leftBox,
.rightBox,
.logoBox {
  display: flex;
}
.leftBox {
  background-image: url(./images/Desktop.jpeg);
  background-size: cover;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  flex-grow: 0.5;
}
.rightBox {
  flex-grow: 1.2;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}
.infoText {
  background-color: rgb(245, 245, 245);
  width: 100%;
  box-sizing: border-box;
  flex: 0.3 3 auto;
}
.quote {
  margin-top: 75px;
  margin-left: 30px;
  font-size: large;
  font-weight: bold;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.logoBox {
  height: 100px;
  width: 100%;
  margin-top: 200px;
  justify-content: center;
  background-color: rgba(3, 0, 0, 0.4);
}
.formfield {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  width: 100%;
  padding-left: 40px;
  height: 10%;
  margin-bottom: 0;
}
form {
  width: 100%;
  display: flex;
  flex: 3;
}
#create {
  height: 45%;
  background-color: rgb(245, 245, 245);
  flex: 1;
}
button {
  border-radius: 8px 8px 8px 8px;
  margin-top: 30px;
  margin-left: 40px;
  padding: .5rem 3rem .5rem 3rem;
  background-color: green;
  color: white;
  font-size: 1rem;
}
.leftinput,
.rightinput {
  width: 50%;
  box-shadow: 0px 10px black;
}
.login {
  padding-left: 40px;
}
